polycube-grpc-cpp/build/*
examples/cpp/pcn-helloworldcpp/build/*
.vscode/*
examples/go/pcn-helloworldgo/helloworldgo
examples/go/pcn-transparenthelloworldgo/transparenthelloworldgo
examples/go/skeleton-project/skeleton
bash_tests/*
